.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-menu {
    margin: 2.5rem 0;
    padding: 0.5rem;
    height: auto;
    background-color: $beige;
    min-width: auto;
    border-radius: 25px;
    border: .5px solid rgba($color: #000000, $alpha: .3);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-style:first-child {
        margin-left: 0.8rem;
    }

    .box-style:last-child {
        margin-right: 0.8rem;
    }
}

.game-window {
    height: auto;
    min-height: 600px;
    background-color: $beige;
    width: 90vw;
    max-width: 1200px;
    border-radius: 25px;
    border: .5px solid rgba($color: #000000, $alpha: .3);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    margin: 0 2rem 2rem 2rem;
}

.choose-a-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem 0 1.5rem;
}

// animation de la flèche "choisis un jeu"
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}

.arrow-choose-a-game {
    color: $blue;
    font-size: 4.3rem;
    margin-bottom: 1rem;
    animation: bounce 1s infinite;
}

// défini le style des divs pour tous les boutons
.box-style {
    margin: .4rem .4rem;
    // border: .5px solid rgba($color: #000000, $alpha: .3);
    border-radius: 10px;
    padding: 35px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: $beige;
    max-width: 65px;
    max-height: 65px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: translateY(-4px);
    }

    &:active {
        box-shadow: inset 0px 6px 12px rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        max-width: 55px;
    }
}

@media screen and (max-width: 767px) {
    .select-menu {
        margin: 1rem 0;
    }

    .game-window {
        height: auto;
        min-height: 350px;
        margin: 0 1rem 1rem 1rem;
    }
    .box-style {
        max-width: 53px;
        max-height: 53px;
        padding: 20px;

        &:hover {
            transform: translateY(0px);
        }

        img {
            max-width: 28px;
        }
    }
}